html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1D1D31;
  font-size: 14px;
  font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
}

form {
  background-color: #272228;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px !important;
}

.title {
  color: #F96331;
  font-size: 24px;
  font-weight: bold;
}

.label {
  color: #FFF;
  font-size: 18px;
}

.help-block {
  color: #808080;
}

#start {
  background-color: #F96331;
  color: #FFF;
  align-self: center;
  -webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  box-shadow: 4px 4px 13px -1px rgba(0,0,0,1);
  border-radius: 5px;
  margin-bottom: 20px;
}

#start:hover {
  background-color: #1D1D31;
}
